.dark-mode {
  background-color: $grisOscuro;

  /** Header **/
  header {
    background-color: $grisOscuro;
    box-shadow: 0.1rem 0.2rem 2rem $turquesa;

    .barra {
      a img {
        //logo blanco
        content: url("../img/logopro-blanco.png");
      }
      a {
        color: $turquesaClaro;
      }
      @include tablet {
        padding-bottom: 0;
      }
    }

    .boton-nav {
      &:hover {
        color: $violeta;
        font-weight: $bold;
        text-shadow: 2px 2px 11px rgba(139, 10, 139, 0.5);
      }
    }
  }

  /** Resumen sobre mí **/
  .resumen-flor {
    // .imagen-flor {
    picture {
      img {
        content: url(../../../build/img/imagen-perfil-1.png);
      }
    }
    // }

    .sobre-mi {
      h1,
      p {
        color: $blanco;
      }
      .hola {
        color: $turquesa;
      }
      h2 {
        color: $gris;
      }

      .btn-space {
        &:hover {
          border-image-source: linear-gradient(90deg, #2efef7, #743ad5);
          box-shadow: 0 0 20px #743ad5;
          text-shadow: 1px 1px 10px #2eb4b5;
        }
      }
      .space {
        background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#743ad5),
          color-stop(51%, #2efef7),
          to(#743ad5)
        );
        background-image: linear-gradient(
          to right,
          #743ad5 0%,
          #2efef7 51%,
          #743ad5 100%
        );
        border-image-source: linear-gradient(45deg, #743ad5, #2efef7);
        border-image-outset: 1em;
      }
    }
  }

  /** Sobre Mí **/
  .informacion-flor {
    $color1: rgb(16, 116, 113);
    $color2: rgba(16, 116, 113, 1);
    $color3: rgba(112, 31, 83, 1);
    $color4: rgba(64, 32, 117, 1);

    background: $color1;
    background: -moz-linear-gradient(
      90deg,
      $color2 0%,
      $color3 51%,
      $color4 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      $color2 0%,
      $color3 51%,
      $color4 100%
    );
    background: linear-gradient(90deg, $color2 0%, $color3 51%, $color4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#107471", endColorstr="#402075", GradientType=1);

    .contenedor-informacion {
      //sombrita gris
      background-color: rgba(88, 91, 90, 0.4);
      width: 100%;
      padding: 2rem 1rem 2rem 1rem;
      .texto-informacion {
        h1 {
          color: $turquesa;
        }
        p {
          color: #d8e4e0;
        }
      }
    }
  }

  /** Habilidades / Tecnologias **/
  .iconos {
    h4 {
      color: $turquesa;
    }
  }

  /** Proyectos Web **/
  .proyectos-web {
    $color1: rgb(16, 116, 113);
    $color2: rgba(16, 116, 113, 1);
    $color3: rgba(112, 31, 83, 1);
    $color4: rgba(64, 32, 117, 1);

    background: $color1;
    background: -moz-linear-gradient(
      90deg,
      $color2 0%,
      $color3 51%,
      $color4 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      $color2 0%,
      $color3 51%,
      $color4 100%
    );
    background: linear-gradient(90deg, $color2 0%, $color3 51%, $color4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#107471", endColorstr="#402075", GradientType=1);
    padding: 2rem;
    .contenedor-portfolios {
      background-color: rgba(88, 91, 90, 0.4);
      h4 {
        color: $turquesa;
      }
    }
  }

  /** Footer - Copyright **/
  footer {
    p {
      color: $turquesa;
    }
  }

  /** Menu Hamburgesa **/
  .switch {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: linear-gradient(
      45deg,
      rgb(16, 116, 113) 20%,
      rgb(64, 32, 117) 80%
    );
  }

  /** Contáctame **/
  .freelance {
    .disponible,
    .contactame {
      h3,
      p {
        color: $blanco;
      }
    }
    .contactame {
      h4 {
        color: $turquesa;
        text-shadow: 3px 3px 4px $violeta;
      }
    }
  }

  // Proyectos nº2
  .web-2 {
    h2 {
      color: $turquesa;
      font-weight: $bold;
      text-shadow: 3px 3px 35px $gris;
    }
    .carta {
      .content {
        .front,
        .back {
          background-color: #151515;
          .description {
            box-shadow: 0px 0px 10px 5px #00000088;
            background-color: #00000099;
          }
        }
        .back-content {
          background-color: #151515;
        }
      }
    }

    // boton
    .btn {
      &::after {
        background-color: rgb(46, 46, 46);
      }
    }
  }

  /** 3º prueba proyecto web **/

  .swiper-contenedor {
    h3 {
      color: $turquesa;
      font-weight: $bold;
      text-shadow: 3px 3px 35px $gris;
    }
    .swiper {
      .swiper-button-prev,
      .swiper-button-next {
        color: $turquesa;
      }
    }
  }

  /** 4° prueba proyectos **/
  .web-4 {
    h2 {
      color: $turquesa;
      text-shadow: 2px 4px 7px $violeta;
    }
    .contenedor-web-4 {
      .porfolios-web-4 {
        .informacion-web-4 {
          background-color: $grisOscuro;

          h3,
          .web-tecno {
            color: $turquesa;
          }
          p {
            color: $gris;
          }

          .button {
            background-color: $grisOscuro;
            border: 2px solid $turquesa;
            .boton-web {
              color: $blanco;
            }
          }
          .button:hover {
            background-color: $turquesa;
            .boton-web {
              color: $negro;
            }
          }
        }
      }
    }
  }
} // fin dark mode
