html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fuente_principal;
  font-size: 1.6rem;
  line-height: 1.8;

  @include desktopXL {
    main,
    section,
    .iconos,
    .web-2,
    .web-4,
    .freelance,
    footer {
      margin: 0 auto; /* Centra el cuerpo en la página */
      max-width: 1400px; /* Establece el máximo ancho */
      padding: 20px;
    }
  }
}

@include desktopXL{
    .web-2{
        padding: 0;
    }
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

// h1,
// h2,
// h3 {
//   font-family: $fuente_principal;
//   margin: calc($separacion / 2) 0;
//   font-weight: 300;
//   text-align: center;
// }
