.freelance {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h3,
  h4,
  p {
    margin: 0;
    text-align: center;
  }

  .contenedor-freelance {
    min-width: 50vw;
    display: grid;
    place-items: center;
    margin-top: 4rem;

    @include tablet {
      // width: 70vw;
      max-width: 900px;
      display: grid;
      grid-template-columns: 1.2fr 1.2fr;
      place-items: center;
      gap: 2rem;
      margin: 4rem 0 2rem 0;
    }
  }

  //div 1
  .disponible {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3 {
      color: $negro;
      font-size: 3.7rem;
      font-weight: $bold;
      line-height: 4rem;
    }
    p {
      width: 80%;
      text-align: center;
      color: $grisOscuro;
      font-size: 1.8rem;
      line-height: 2.5rem;
      margin-top: 2rem;
    }
    .letra-disponible {
      animation: agrandar 2s infinite;
      position: relative;
      font-size: 5rem;

      //  efecto movimiento letras
      @keyframes agrandar {
        0% {
          transform: scale(1);
          color: darken(rgb(24, 214, 152), 20);
        }
        50% {
          transform: scale(1.05);
          color: rgb(24, 214, 152);
        }
        100% {
          transform: scale(1);
          color: darken(rgb(24, 214, 152), 20);
        }
      }
    }

    @include desktop {
    }
  }

  //div 2
  .contactame {
    // max-width: 300px; //
    h3 {
      color: $negro;
      font-weight: 500;
      font-size: 2.5rem;
      margin-top: 1rem;
    }
    h4 {
      color: $rosa;
      text-shadow: 2px 2px 3px $negro;
      font-weight: $bold;
      font-size: 4.5rem;
    }

    .iconos-contacto {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 1.5rem;
      .icono-1 {
        width: 65px;
        margin: 8px;
      }
      .icono-2 {
        width: 69px;
      }
      .icono-3 {
        width: 70px;
      }
    }
  }
}
