/** Prueba 4° proyecto web **/

.web-4 {
  margin: 2rem;
  h2 {
    font-size: 4rem;
    font-family: $fuente_principal;
    font-weight: 600;
    color: $violeta;
  }
  p {
    text-align: center;
    margin: 2rem 0;
  }
  @include tablet {
    p {
      margin: 3rem;
      text-align: center;
    }
  }

  .contenedor-web-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Estilos base para cada proyecto */
    .porfolios-web-4 {
      position: relative;
      max-width: 392px;
      height: 222px;
      margin: 10px;
      overflow: hidden;

      .imagen-web-4 {
        max-width: 392px;
        height: 222px;
        img {
          max-width: 392px;
          height: 222px;
        }
      }
      .informacion-web-4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 392px;
        height: 222px;
        background-color: $blanco;
        padding: 10px;
        display: none;
        transition: opacity 1s;
        text-align: center;

        h3 {
          margin: 0;
          color: $violeta;
          text-align: center;
          font-size: 1.9rem;
          line-height: 2rem;
          font-weight: $bold;
          font-family: $fuente_principal;
        }
        .parrafo-web-4 {
          margin: 0;
          padding: 0;
          font-size: 1.4rem;
          color: $grisOscuro;
          font-weight: 600;
        }

        .web-tecno {
          color: $negro;
          font-size: 1.3rem;
          line-height: 1.7rem;
          font-weight: normal;
          margin: 0 0 0 0;
        }

        .button {
          width: 100px;
          height: 33px;
          margin-top: 1rem;
          background-color: $violetaOscuro;
          border: 2px solid $violetaOscuro;
          border-radius: 2px;
          text-align: center;
          cursor: pointer;
          transition: transform 0.3s;

          .boton-web {
            color: $blanco;
            border: none;
            font-size: 1.5rem;
          }
        }
        .button:hover {
          background-color: $violeta;
          border: 2px solid $violeta;
          transform: scale(1.1);
          .boton-web {
            color: $blanco;
          }
        }
      }
    }

    .porfolios-web-4:hover .informacion-web-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid $violetaOscuro;
    }
  }
}
