.header {
  padding: 0.2rem;
}

// header fijo
.header {
  background-color: $blanco;
  box-shadow: 0.1rem 0.2rem 2rem $violeta;

  @include tablet {
    &.fijo {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1000; // para que no se superpongan las card
    }
  }
}

body {
  &.fijar-body {
    overflow: hidden;
  }
  &.body-scroll {
    padding-top: 8.6rem;
  }
}

// fin header fijo

.barra {
  // padding-bottom: 1.5rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .barra-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    .derecha {
      display: flex;
      align-items: center;
    }
    @include tablet {
      width: 40%;
    }
  }

  img {
    //logo
    max-height: 50px;
  }

  a {
    font-family: $fuente_principal;
    font-size: 1.8rem;
    font-weight: $regular;
    color: #7401df;
    letter-spacing: 0.07rem;
    display: block;
    text-align: center;
  }

  .boton-nav {
    &:hover {
      color: $celeste;
      font-weight: $bold;
      text-shadow: 2px 2px 11px rgba(139, 10, 139, 0.5);
    }
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.2rem;

    img {
      max-height: 60px;
      margin: 1rem;
    }

    .navegacion {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      a {
        margin: 0rem 1rem;
      }
    }
  }
}

.navegacion {
  visibility: hidden;
  opacity: 0;
  height: 0;
  @include tablet {
    opacity: 1;
    visibility: visible;
  }
}

// Subrayado
.nav-item {
  a:hover {
    & ~ .subrayado::before {
      width: 100%;
    }
  }
}
.subrayado {
  position: relative;
  display: block;
  width: 50%;
}

.subrayado::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #b06ab3, #2196f3);
  transition: 0.3s ease width;
  left: 50%;
}

// Menu Hamburgesa
.switch {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: linear-gradient(
    45deg,
    rgb(202, 19, 214) 20%,
    rgb(0, 212, 255) 80%
  );
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.363);
  border-radius: 5px;

  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
  }

  div {
    width: 80%;
    height: 80%;
    margin: 10%;
    position: absolute;

    span {
      background: #fff;
      width: 100%;
      height: 2px;
      border-radius: 5px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.5s, width 0.5s;
    }

    .line-1 {
      width: 50%;
      transform: translate(-100%, -10px);
      transform-origin: 0 0;
    }

    .line-3 {
      width: 50%;
      left: auto;
      right: 0;
      transform: translate(0, 10px);
      transform-origin: 100% 0;
    }
  }

  input:checked + div span.line-1 {
    transform: translate(0, 0) rotate(-45deg);
  }

  input:checked + div span.line-3 {
    transform: translate(-100%, 0) rotate(-45deg);
  }

  input:checked + div span.line-2 {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  @include tablet {
    display: none;
  }
}

.mostrar {
  visibility: visible;
  opacity: 1;
  height: auto;
}

// Botón Dark Mode

.checkbox-wrapper-5 {
  line-height: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  .check {
    --size: 28px;
    position: relative;
    // background: linear-gradient(90deg, #f19af3, #f099b5); Origianal
    background: linear-gradient(90deg, #9F44D3, #2EFEF7);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);

    input[type="checkbox"],
    label,
    label::before,
    label::after,
    & {
      appearance: none;
      display: inline-block;
      border-radius: var(--size);
      border: 0;
      transition: 0.35s ease-in-out;
      box-sizing: border-box;
      cursor: pointer;
    }

    label {
      width: calc(2.2 * var(--size));
      height: var(--size);
      // background: #d7d7d7; Original
      background: linear-gradient(90deg, #9F44D3, #F781F3);
      overflow: hidden;
    }

    input[type="checkbox"] {
      position: absolute;
      z-index: 1;
      width: calc(0.8 * var(--size));
      height: calc(0.8 * var(--size));
      top: calc(0.1 * var(--size));
      left: calc(0.1 * var(--size));
      background: linear-gradient(45deg, #dedede, #ffffff);
      box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
      outline: none;
      margin: 0;

      &:checked {
        left: calc(1.3 * var(--size));
      }
    }

    input[type="checkbox"]:checked + label {
      background: transparent;
    }

    label::before,
    label::after {
      content: "· ·";
      position: absolute;
      overflow: hidden;
      left: calc(0.15 * var(--size));
      top: calc(0.5 * var(--size));
      height: var(--size);
      letter-spacing: calc(-0.04 * var(--size));
      color: #9b9b9b;
      font-family: "Times New Roman", serif;
      z-index: 2;
      font-size: calc(0.6 * var(--size));
      border-radius: 0;
      transform-origin: 0 0 calc(-0.5 * var(--size));
      backface-visibility: hidden;
    }

    label::after {
      content: "●";
      top: calc(0.65 * var(--size));
      left: calc(0.2 * var(--size));
      height: calc(0.1 * var(--size));
      width: calc(0.35 * var(--size));
      font-size: calc(0.2 * var(--size));
      transform-origin: 0 0 calc(-0.4 * var(--size));
    }

    input[type="checkbox"]:checked + label::before,
    input[type="checkbox"]:checked + label::after {
      left: calc(1.55 * var(--size));
      top: calc(0.4 * var(--size));
      line-height: calc(0.1 * var(--size));
      transform: rotateY(360deg);
    }

    input[type="checkbox"]:checked + label::after {
      height: calc(0.16 * var(--size));
      top: calc(0.55 * var(--size));
      left: calc(1.6 * var(--size));
      font-size: calc(0.6 * var(--size));
      line-height: 0;
    }
  }
}
