.proyectos-web {
  padding: 2rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2efef7),
    color-stop(51%, #d53a9d),
    to(#743ad5)
  );
  background-image: linear-gradient(
    to right,
    #2efef7 0%,
    #d53a9d 51%,
    #743ad5 100%
  );
  border-image-source: linear-gradient(45deg, #2efef7, #d53a9d);
  border-image-outset: 1em;
}

.contenedor-portfolios {
  background-color: rgba(255, 255, 255, 0.3);
  h4 {
    font-size: 4rem;
    margin: 2rem;
    color: $violetaOscuro;
    text-align: center;
  }
}

.portfolios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  @include desktop {
    display: grid; // chequear esto
    place-items: center;
    grid-template-columns: repeat(4, 2fr);
    .card-grid-1 {
      grid-column: 2 / 3;
    }
  }
}

/** Estilos de Card **/

.card {
  width: 240px;
  height: 304px;
  background-image: linear-gradient(163deg, #fe2ef7 0%, #2efef7 100%);
  border-radius: 20px;
  transition: all 0.3s;
  margin: 2rem;
}

.contenedor-card {
  width: 240px;
  height: 304px;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all 0.2s;
  padding: 1rem;

  h4,
  p {
    margin: 0;
  }
  h4 {
    font-size: 1.8rem;
    color: $blanco;
    font-weight: $bold;
  }
  p {
    font-size: 1.5rem;
    color: $gris;
  }
  a {
    color: $turquesa;
    font-weight: $bold;
  }
}

.contenedor-card:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

// 2da parte de muestra proyectos

.web-2 {
  padding: 2rem;
  h2 {
    color: $violeta;
    font-weight: $bold;
    margin: 4rem;
    text-shadow: 3px 3px 35px $rosa;
  }
  .contenedor-web-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
}

.carta {
  overflow: visible;
  width: 400px;
  height: 310px;

  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;

    .front,
    .back {
      background-color: $violeta;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      border-radius: 5px;
      overflow: hidden;
    }

    .back {
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center;

      &::before {
        position: absolute;
        content: " ";
        display: block;
        width: 160px;
        height: 160%;
        background: linear-gradient(
          90deg,
          transparent,
          $turquesa,
          $turquesaClaro,
          $violeta,
          $violetaOscuro,
          transparent
        );
        animation: rotation_481 15s infinite linear;
      }

      .back-content {
        position: absolute;
        width: 99%;
        height: 99%;
        background-color: $grisOscuro;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          border-radius: 5px;
        }
        h3 {
          font-size: 2rem;
          font-weight: 600;
          margin: 0;
          margin-top: 1rem;
          color: white;
        }
      }
    }
  }

  &:hover {
    .content {
      transform: rotateY(180deg);
    }
  }

  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }

  .front {
    transform: rotateY(180deg);
    color: white;

    .front-content {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .badge {
        padding: 2px 10px;
        border-radius: 10px;
        backdrop-filter: blur(2px);
        width: fit-content;
        font-size: 2.5rem;
        font-weight: $bold;
      }

      .description {
        box-shadow: 0px 0px 55px 5px #00000088;
        width: 100%;
        padding: 10px;
        backdrop-filter: blur(5px);
        border-radius: 5px;
      }

      .title {
        // font-size: 11px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          width: 100%;
          color: $gris;
          font-size: 1.3rem;
          font-weight: 300;
          margin: 0;
        }
      }

      .carta-footer {
        color: $turquesa;
        margin: 1.2rem 0 0 0;
        font-size: 1.8rem;
        font-weight: $bold;
      }

      .iconos-proyecto {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 1.2rem;
        // margin-top: 1rem;
        .icono-proyecto {
          width: 40px;
          height: auto;
        }
      }
    }
  }

  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $rosa;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }

  #bottom {
    background-color: $violetaOscuro;
    left: 50px;
    top: 0px;
    width: 160px;
    height: 160px;
    animation-delay: -800ms;
  }

  #right {
    background-color: $turquesa;
    left: 160px;
    top: -80px;
    width: 40px;
    height: 40px;
    animation-delay: -1800ms;
  }

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

// boton ver mas
.btn {
  margin-top: 1.2rem;
  padding: 0.28em 1em;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 35px;
  position: relative;
  z-index: 0;
  border-radius: 12px;

  a {
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $violetaOscuro;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  // glow
  &::before {
    content: "";
    background: linear-gradient(
      45deg,
      $violeta,
      $turquesa,
      $rosa,
      $turquesaClaro,
      $violetaOscuro,
      $turquesaClaro,
      $rosa,
      $turquesa
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  // hover
  &:hover::before {
    opacity: 1;
  }

  &:active:after {
    background: transparent;
  }

  &:active {
    color: #000;
    font-weight: bold;
  }
}

/** 3º prueba de proyecto web **/
.swiper-contenedor {
  padding: 3rem;

  h3 {
    color: $violeta;
    font-weight: $bold;
    margin: 4rem;
    text-shadow: 3px 3px 35px $rosa;
  }

  .swiper {
    width: 100%;
    height: auto;
    @include tablet {
      height: 500px;
    }
    @include desktopXL {
      width: 80%;
      height: 600px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: $violeta;
    }
  }
}

/** Prueba 4° proyecto web **/

.web-4 {
  h2 {
    color: $violeta;
    text-shadow: 2px 4px 7px $turquesa;
    font-weight: $bold;
    font-size: 5rem;
  }

  .contenedor-web-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Estilos base para cada proyecto */
    .porfolios-web-4 {
      position: relative;
      width: 600px;
      height: 300px;
      margin: 10px;
      overflow: hidden;
      .imagen-web-4 {
        img {
          width: 100%;
        }
      }
      .informacion-web-4 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $blanco;
        padding: 10px;
        display: none;
        width: 100%;
        height: 100%;
        transition: opacity 1s;
        text-align: center;

        h3 {
          margin: 0;
          color: $violeta;
          text-align: center;
          font-size: 2.3rem;
          font-weight: $bold;
          font-family: $fuente_principal;
        }
        .parrafo-web-4 {
          width: 75%;
          margin: 0;
          padding: 0 4rem;
          font-size: 1.5rem;
          color: $grisOscuro;
          font-weight: $delgada;
        }
        .web-tecno {
          color: $violeta;
          font-size: 1.9rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .iconos-proyecto {
          display: flex;
          justify-content: center;
          gap: 2rem;
          .icono-proyecto {
            width: 40px;
            height: auto;
          }
        }

        .button {
          width: 80px;
          height: 40px;
          margin-top: 1rem;
          background-color: $blanco;
          border: 2px solid $violeta;
          border-radius: 2px;
          text-align: center;

          .boton-web {
            color: $grisOscuro;
            border: none;
            font-size: 1.5rem;
          }
        }
        .button:hover {
          background-color: $violeta;
          .boton-web {
            color: $blanco;
          }
        }
      }
    }

    .porfolios-web-4:hover .informacion-web-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@include desktopXL {
  .web-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contenedor-web-4 {
      width: 1200px;
      display: grid;
      @include grid(2, 2rem);
      justify-items: center;
      align-items: center;

      .porfolios-web-4 {
        width: 100%;
        overflow: hidden;
        margin: 0;
      }
    }
  }
}

// 5º prueba proyecto web GALERIA
.quinta-muestra {
  display: none;
  @include desktop {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
      color: $violeta;
      text-shadow: 2px 4px 7px $turquesa;
      font-weight: $bold;
      font-size: 5rem;
    }
    .galeria-proyecto-2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // width: 150px;
      height: 350px;
      padding: 2rem;
    }

    .proyecto-img-2 {
      position: relative;
    }

    .proyecto-img-2 img {
      height: 350px;
      width: 200px;
      object-fit: cover;
      filter: brightness(80%);
      transition: 0.7s ease;
    }

    .proyecto-img-2:hover img {
      width: 550px;
      opacity: 1;
      filter: brightness(100%);
    }

    .info-2 {
      display: none;
      position: absolute;
      margin-right: 1rem;
      top: 50%;
      right: 0;
      background-color: rgba(51, 51, 51, 0.8);
      border-radius: 10px;
      color: white;
      padding: 2rem;
      transform: translateY(-50%);
    }

    .proyecto-img-2:hover .info-2 {
      display: flex;
      flex-direction: column;
      width: 350px;
      height: 265px;
      .contenedor-tecno {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h3 {
        font-weight: 600;
        color: $blanco;
        margin: 0;
        font-size: 2.8rem;
      }
      p {
        color: $blanco;
        margin: 0;
        font-size: 1.5rem;
        font-weight: $delgada;
        line-height: 2rem;
      }
      .web-tecno-2 {
        color: $turquesa;
        font-weight: 600;
        font-size: 2rem;
        margin: 1.5rem 0;
      }
      .iconos-proyecto-2 {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        .icono-proyecto-2 {
          width: 40px;
          height: auto;
        }
      }
    }
    //ver mas boton
    .btn-2 {
      margin: 1.2rem;
      // padding: 0.28em 1em;
      border: none;
      outline: none;
      cursor: pointer;
      width: 90px;
      height: 30px;
      position: relative;
      z-index: 0;
      border-radius: 12px;

      a {
        color: #fff;
        font-family: inherit;
        font-weight: 500;
        font-size: 15px;
      }

      &::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $grisOscuro;
        left: 0;
        top: 0;
        border-radius: 10px;
      }

      // glow
      &::before {
        content: "";
        background: linear-gradient(
          45deg,
          $violeta,
          $turquesa,
          $rosa,
          $turquesaClaro,
          $violetaOscuro,
          $turquesaClaro,
          $rosa,
          $turquesa
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity 0.6s ease-in-out;
        border-radius: 10px;
        opacity: 0;
      }

      @keyframes glowing {
        0% {
          background-position: 0 0;
        }

        50% {
          background-position: 400% 0;
        }

        100% {
          background-position: 0 0;
        }
      }

      // hover
      &:hover::before {
        opacity: 1;
      }

      &:active:after {
        background: transparent;
      }

      &:active {
        color: #000;
        font-weight: bold;
      }
    }
  }
}
