.resumen-flor {
  padding: 0 2rem 0 2rem;

  h1,
  .hola,
  h2,
  p {
    margin: 0;
    text-align: left;
  }

  h1 {
    font-family: $fuente_principal;
    font-weight: $regular;
    font-size: 3rem;
    .hola {
      color: $violeta;
      font-weight: $bold;
      font-size: 4.5rem;
    }
  }
  h2 {
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 2.5rem;
  }
  p {
    font-size: 2.2rem;
  }

  @include tablet {
    @include grid(2, 2rem);
  }
}

.imagen-flor {
  img {
    min-width: 100%;
    height: auto;
  }

  @include tablet {
    img {
      width: 550px;
      height: 550px;
    }
  }
}

@include tablet {
  .sobre-mi {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.sobre-mi{
    margin-bottom: 4rem;
}

// 2do boton
.btn-space {
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 500% auto;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 2rem;

  
    &:hover {
      background-position: right center;
      border-image-source: linear-gradient(90deg, #d53a9d, #743ad5);
      box-shadow: 0 0 20px #743ad5;
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 10px #d53a9d;
    }
  }
  
  .space {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#743ad5),
      color-stop(51%, #d53a9d),
      to(#743ad5)
    );
    background-image: linear-gradient(
      to right,
      #743ad5 0%,
      #d53a9d 51%,
      #743ad5 100%
    );
    border-image-source: linear-gradient(45deg, #743ad5, #d53a9d);
    border-image-outset: 1em;
  }
  